@charset "utf-8";

/* ESTILOS INDEX */

body:not(#bodytabla) {
    background-image: url('img/fondo.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;

}

@font-face {
    font-family: 'Breaking Bad';
    src: url(fonts/Breaking\ Bad.ttf);
    
}

#titulobreaking {
    font-family: 'Breaking Bad', Arial, Helvetica, sans-serif;
    font-size: 40px;
    font-weight: bold;
    color: white;
    padding: 20px;
    padding-bottom: 30px;
    text-align: center;
}

.logo{
    background-image: url('img/logo.jpg');
    background-size: contain;
    background-position: center;
    display: block;
    margin:auto;
    width: 150px; 
    height: 150px;

}

.poster {
    background-image: url('img/poster.jpg');
    background-size: cover;
    background-position: center;
    display: block;
    margin:20px auto;
    width: 700px; /* Tamaño de anchura */
    height: 300px; /* Tamaño de altura */
    border: 10px outset brown; /* Borde de 10px, tipo outset y color Brown */
    border-radius: 22px; 
    border-style: outset;
}

.titulo{
    font-family: Arial, Helvetica, sans-serif;

    font-size: 40px;
    font-weight: bold;
    color: white;
    padding: 20px;
    padding: bottom 30px;
    text-align: center;
    }


/* ESTILOS FORMULARIO */



.fondo {
    background-image: url('img/fondo.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: #d30707; 
    text-align: center; 
}

form {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    display: inline-block;
    text-align: left;
    max-width: 600px;
    width: 100%;
}

fieldset {
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
}


textarea {
    min-height: 100px; /* Altura mínima */
    max-height: 200px; /* Altura máxima */
    width: 100%; /* Ancho del 100% del contenedor padre */
    max-width: 600px; 
    resize: vertical; /* Permite redimensionar solo verticalmente */
    overflow: auto; /* Añade scroll si el contenido excede el tamaño */
}


.titulo{

    font-size: 40px;
    font-weight: bold;
    color: white;
    padding: 20px;
    padding: bottom 30px;
    text-align: center;
    }



legend, label{
    font-family:Arial, Helvetica, sans-serif;
    color: black;
    font-size: 14px;

}






/* ESTILOS TABLA */

#bodytabla {
    background-color: #5a6912 !important;
    text-align: center !important;
}

#table1 {
    border-collapse: collapse;
    margin: 20px auto;
    border: 10px solid #221f1f;
    table-layout: auto;
}

/* CELDAS */
td {
    width: 70px !important;
    height: 70px !important;
    min-width: 70px !important;
    min-height: 70px !important;
    box-sizing: border-box !important;
    text-align: center;
    vertical-align: middle;
    border: 10px solid #221f1f;
    overflow: hidden;
    padding: 0; 
    margin: 0;
    
}

#tabla2 {
    table-layout: fixed !important;
    border-collapse: collapse;
    margin: 10px auto;
    border: 5px solid #221f1f; 
    table-layout: fixed; 
}

#tabla2 td {
    width: 70px;
    height: 70px;
    min-width: 70px; 
    min-height: 70px; 
    box-sizing: border-box; 
    text-align: center;
    vertical-align: middle;
    overflow: hidden;
    margin: 10px auto;
    border: 5px solid #221f1f; 
}




.main-text {
    font-size: 40px;  
    font-weight: bold;
    margin-bottom: 0px;
    margin-top: 0px;
}


.small-text {
    font-size: 10px;  
    margin-top: 0px;
    margin-bottom: 0px;
}

/*  imágenes celdas */
td img {
    width: 50px;
    height: 50px;
    object-fit: cover;
}


/* celdas vacías */
.empty-cell {
    background-color: #221f1f; 
}


.color1 {
    background-color: rgb(173, 226, 26);
}

.color2 {
    background-color: rgb(196, 212, 126);
}

.color3 {
     background-color: rgb(233, 241, 208);
}

.color4 {
    background-color: rgb(185, 140, 236);
}

.color5 {
    background-color: rgb(204, 207, 193);
}

.color6 {
    background-color: rgb(193, 243, 12);
}

.color7 {
    background-color: rgba(161, 202, 63, 0.904);
}

.color8 {
    background-color: rgba(155, 173, 88, 0.877);
}

.color9 {
    background-color: rgba(194, 191, 37, 0.767);
}




td[rowspan="2"] .imagen-Hanck {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    display: block; 
    min-height: 140px; 
}


